body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.displayer
{

max-width: 1500px;
    margin: 0 auto;
    font-family: verdana;
    color: white;
  /*  background-color: #ce19c8;*/
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 30px;


}
.h2
{
    color:black;
    
}